body {
  color: $main-text-color;
  font: 400 14px/28px $main-font;
}
a {
  color: $brand-color;
  &:hover, :active {
    color: $brand-color;
    //text-decoration: none;
  }
}
ul {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
}
p {
  font: 400 16px/28px $main-font;
  color: $main-text-color;
}
h3 {
  font: 400 18px/24px $sec-font;
  text-transform: uppercase;

}
.section-caption {
  text-align: center;
  max-width: 100%;
  padding: 50px 0 30px 0;
  h2 {
    margin: auto;
    color: black;
    font: 600 22px/48px $main-font;
    text-transform: uppercase;
  }
  p {
    font: bold 16px/32px $main-font;
  }
  .sticker {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    width: 160px;
    height: 30px;
    color: $brand-color;
    font: bold 18px/32px $main-font;
    text-transform: uppercase;
    background-color: $sec-color;
  }
}


@media screen and ($xs) {
  .section-caption {
    h2 {
      font: bold 28px/56px $main-font;
    }
    p {
      font: bold 18px/36px $main-font;
    }
  }
  h3 {
    font: 400 20px/26px $sec-font;
  }
}

@media screen and ($sm) {
  .section-caption {
    h2 {
      font: bold 30px/60px $main-font;
    }
    p {
      font: bold 20px/40px $main-font;
    }
  }
  h3 {
    font: 400 21px/28px $sec-font;
  }
}

@media screen and ($md) {
  .section-caption {
    padding-top: 100px;
    h2 {
      font: bold 32px/64px $main-font;
    }
    p {
      font: bold 22px/44px $main-font;
    }
  }
  h3 {
    font: 400 22px/30px $sec-font;
  }
}

@media screen and ($lg) {
  .section-caption {
    h2 {
      font: bold 35px/70px $main-font;
    }
    p {
      font: bold 24px/48px $main-font;
    }
  }
  h3 {
    font: 400 23px/32px $sec-font;
  }
}
