body {
  color: $text-main-color;
  font: 400 20px/28px $font-main;
}
a {
  color: $brand-color;
  &:hover, :active {
    color: $brand-color;
    text-decoration: none;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
.title {
  margin: 0;
  padding: 20px;
}
section {
  padding: 20px 0;
}
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}
