$xs: "min-width: 568px";
$sm: "min-width: 768px";
$md: "min-width: 992px";
$lg: "min-width: 1200px";
$wrapper: 1170px;
$bg-main-color: #fff;
$bg-sec-color: #ccc;
$brand-color: #13498f;
$text-main-color: black;
$text-sec-color: #fff;
$font-main: 'Comic Sans MS';
$font-sec: 'Arial', monospace;
//-----------------------------------------------