.testimonials {
  background: linear-gradient(to right, white, rgba(164, 213, 212, 0.5), white);
}
.testimonials_item, .like_title {
  text-align: center;
  img {
    border-radius: 10px;
  }
}
.like_content {
  text-align: center;
}
.text {
  font-style: italic;
  color: #13498f;
}

.name {
  font-weight: 900;
  text-decoration-line: underline;
}
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}