.service_list {
  text-align: center;
  background: linear-gradient(to right, white, rgba(209, 192, 213, 0.5), white);
  ul li {
      text-align: left;

  }
}
.kinder {
  display: none;
  float: left;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 20px;
}
@media screen and ($xs) {

}

@media screen and ($sm) {
  .kinder {
    display: block;
  }
}

@media screen and ($md) {

}

@media screen and ($lg) {

}
