.projects {
  position: relative;
  .section_footer_triangle {
    bottom: -108px;
    z-index: 1;
  }
  svg.triangle {
    background-color: transparent;
    &.bg_dark path {
      fill: #fff;
      stroke: #fff;
      stroke-width: 1;
    }
  }
  h3 {
    padding-top: 40px;
  }
  p {
    padding: 15px 30px 15px 0;
  }
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #009aff;
}
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {
  .projects {
  }
}