.hero {
  position: relative;
  padding-top: 50px;
  text-align: center;
  background: url(../img/bg-sec1.jpg) bottom center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.hero_wrap, .hot_buy_wrap {
  max-width: 1170px;
  margin: auto;
}
.prod-img {
  overflow: hidden;
  max-width: 400px;
}
.hot_buy {
  background: linear-gradient(to right, white, rgba(199, 255, 201, 0.5), white);
  text-align: center;
  z-index: 1;
  .text {
    padding: 20px;
    margin: 0;
  }
}

//________________________________________________________________________________
@media screen and ($xs) {
  .hero {
  }
}

@media screen and ($sm) {
  .hero {
  }
}

@media screen and ($md) {
  .hero {
  }
}

@media screen and ($lg) {
  .hero {
  }
}

