.about {
  text-align: center;
  background: linear-gradient(to right, white, rgba(255, 250, 180, 0.5), white), url(../img/bike-car.png) 100% 100% no-repeat;
  .about_wrap {
    max-width: 1170px;
    margin: auto;
    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      li {
        padding: 10px;
        width: 300px;
      }
    }
  }
}
.quality {
  text-align: center;
  background: linear-gradient(to right, white, #e6e6e6, white), url(../img/bike-car.png) 100% 100% no-repeat;
  ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    li {
      padding: 10px;
      list-style: decimal;
      text-align: left;
    }
  }
}
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}
