.hero {
  position: relative;
  padding-top: 50px;
  text-align: center;
  background: url(../img/bg-sec1.jpg) bottom center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.hero_wrap, .hot_buy_wrap {
  max-width: 1170px;
  margin: auto;
}
.prod-img {
  overflow: hidden;
  max-width: 400px;
}
.hot_buy {
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  .text {
    padding: 20px;
    margin: 0;
  }
}
.form, .prod-img {
  display: inline-block;
}
.form-line {
  input {
    width: 320px;
    padding: 5px;
    margin: 10px;
  }
}
//________________________________________________________________________________
@media screen and ($xs) {
  .hero {
  }
}

@media screen and ($sm) {
  .hero {
  }
}

@media screen and ($md) {
  .hero {
  }
}

@media screen and ($lg) {
  .hero {
  }
}

