footer {
  background-color: #204359;
  padding-top: 200px;
  margin: auto;

  .footer-more {
    display: flex;
    max-width: $wrapper;
    margin: auto;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 20px 5px;
    text-align: left;
    font: 400 14px/27px $sec-font;
    color: #9ab3cc;
  }
  p {
    padding: 10px 0;
    color: #748ca5;
  }
  h4 {
    display: inline-block;
    padding-top: 10px;
    border-bottom: 1px solid #9ab3cc;
    font: 400 13px/24px $main-font;
    color: #fff;
    text-transform: uppercase;
  }
  .social-icons {
    padding-top: 30px;
    li {
      display: inline-block;
      padding-right: 15px;
    }
    .fa {
      color: #9ab3cc;
      font-size: 16px;
    }
  }
  .contacts {
    p {
      color: #9ab3cc;
      font: 400 14px/26px $main-font;
    }
    .address, .phone, .email {
      display: flex;
      flex-flow: row nowrap;
      padding-bottom: 15px;
    }
    .fa {
      display: block;
      line-height: 27px;
    }
    span {
      padding-left: 10px;
      display: block;
    }
  }
}
.subscribe {
  form {
    position: relative;
    width: 270px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
    &:after {
      content: "\f1d8";
      font: 400 17px/40px 'FontAwesome';
      position: absolute;
      top: 0;
      bottom: 5px;
      left: 220px;
      width: 50px;
      height: 40px;
      text-align: center;
      background-color: #009bff;
      color: white;
    }
    input {
      display: inline-block;
      border: none;
      width: 220px;
      height: 40px;
      padding: 10px;
      font-style: italic;
      &:last-child {
        position: relative;
        z-index: 2;
        width: 50px;
        background-color: transparent;
      }
    }
  }
}

.footer-nav, .footer-more-about-quora {
  li {
    padding-top: 10px;
    a {
      color: #9ab3cc;
    }
  }
}


.copyrights {
  border-top: 1px solid #4a627c;
  div:last-child {
    max-width: 200px;
    margin: 0 auto;
    padding: 0 0 25px 0;
    color: #748ca5;
  }
}
@media screen and ($xs) {
  footer {

  }
}
@media screen and ($sm) {
  footer {

  }
}

@media screen and ($md) {
  footer {

  }
}


@media screen and ($lg) {
  footer {

  }
}