.form_buy {
  background: linear-gradient(to right, rgba(199, 255, 201, 0.5), white, rgba(199, 255, 201, 0.5));
  text-align: center;
  .prod-img img {
    display: none;
  }
}
.form, .prod-img {
  display: inline-block;
  position: relative;
  vertical-align: text-top;
}
.form {
  padding: 5px;
  button.b24-web-form-popup-btn-6 {
    width: 200px;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: outset;
    background-color: #54eec7;
    box-shadow: 10px 10px 5px grey;
    font-weight: 900;
    font-size: 22px;
    line-height: 38px;
    font-variant: all-petite-caps;
    color: black;
    &:hover {
      box-shadow: 8px 8px 3px grey;
      background-color: #4ed3ab;
      color: #fffbed;
    }
    &:active {
      box-shadow: 5px 5px 2px grey;
      outline: none;
      transform: translateY(5px);
    }
  }
  .price {
    display: flex;
    justify-content: flex-end;
    flex-flow: column wrap;
    align-items: center;
  }
  .old-price {
    padding: 5px;
    margin: 5px;
    background-color: gray;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    color: #000000;
    text-decoration: line-through;
    border: 1px solid lightgrey;
    font-weight: 900;
    font-size: 28px;
    line-height: 44px;
  }
  .new-price {
    padding: 5px;
    background-color: yellow;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border: 1px solid dimgray;
    color: red;
    text-decoration: none;
    //align-self: stretch;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
  }
}
.sale_sticker {
  position: absolute;
  top: -30px;
  right: 0;
  z-index: 2;
  width: 35%;
}
.dbl_buy_price, .triple_buy_price {
  padding: 10px 0;
  //text-align: left;
  color: red;
  font-size: 24px;
  line-height: 38px;
  font-variant: all-petite-caps;
  span {
    font-size: 24px;
    font-weight: 900;
    padding: 5px;
    background-color: yellow;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border: 1px solid dimgray;
    color: red;
    text-decoration: none;
  }
}
.dbl_buy_price {
  margin-top: 40px;
}

@media screen and ($xs) {

}

@media screen and ($sm) {
  .form_buy {
    .prod-img {
      width: 50%;
      img {
        display: inline-block;
      }
    }
  }
}

@media screen and ($md) {

}

@media screen and ($lg) {

}
