.header {
  position: relative;
  background-color: transparent;
  z-index: 5;
  .header_order {
    float: left;
    overflow: hidden;
    text-align: center;
    padding: 0;
    background-color: transparent;
  }
  #top_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3px 0;
    transition: all 0.8s;
    &.active {
      background-color: rgba(0,0,0,0.5);
      color: $text-sec-color;
    }
  }
}


  @media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}
